body {
    /*border: 3px solid red;*/
    font-family: Arial, sans-serif;
    margin: 0;
    /*font-size: 1.15vw;*/
}

.grid-container {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    background-color: #C55394;
    padding: 0px 0px;
    margin: 0 0;
}

.item1,
.item2,
.item3,
.item4 {
    /*border: 1px solid #000;*/
    background-color: #C55394;
    text-align: center;
    padding: 10px 0px;
    /* réglage de la hauteur de la bande header: padding top/bottom; réglage espace entre éléments: padding right/left */
    font-size: 16px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-column-start: 18;
    grid-column-end: 19;
}

.item2:hover {
    background-color: #EB43A3;
}

.item3 {
    grid-column-start: 19;
    grid-column-end: 20;
}

.item3:hover {
    background-color: #EB43A3;
}

.item4 {
    grid-column-start: 20;
    grid-column-end: 21;
}

.item4:hover {
    background-color: #EB43A3;
}

a {
    text-decoration: none;
    color: #FFF;
}

.corps {
    background-image: url("img/background.png");
}

h1 {
    color: #c55394;
    font-family: 'Courgette', cursive;
    text-align: center;
    position: relative;
    top: 70px;
}

h2 {
    color: #eb43a3;
    font-family: 'Courgette', cursive;
}

#tercio {
    height: 150px;
}

#tercio div {
    width: 40%;
    height: 150px;
    margin: auto;
    background-image: url("img/rainbow.png");
}

#quarto {
    background-color: #FFF;
    width: 70%;
    margin-top: 0;
    margin-right: 15%;
    margin-bottom: 50px;
    margin-left: 15%;
    border-radius: 15px;
    padding: 20px 10px 30px 10px;
    box-shadow: 2px 2px 5px 8px #777;
}

.kila1 {
    /*/border: 2px solid red;*/
    padding: 0px 20px 30px 20px;
}

.kila2 {
    /*border: 2px solid red;*/
    padding: 0px 20px 30px 20px;
}

#huit,
#neuf,
#dix,
#onze {
    width: 201px;
    height: 201px;
    display: inline-block;
    margin: 8px;
}

#huit {
    background-image: url("img/unicorns/photo11.jpg");
}

#neuf {
    background-image: url("img/unicorns/photo21.jpg");
}

#dix {
    background-image: url("img/unicorns/photo31.jpg");
}

#onze {
    background-image: url("img/unicorns/photo41.jpg");
}

.descrip {
    position: relative;
    top: 162px;
    width: 201px;
    height: 24px;
    background-color: rgb(33, 33, 33, 0.6);
    text-align: center;
    vertical-align: middle;
    color: white;
}

.descrip p {
    position: relative;
    top: 3px;
}

.kila3 {
    /*border: 2px solid red;*/
    padding: 0px 20px 30px 20px;
}

#septo,
.map-responsive {
    /*border: 1px solid red;*/
    display: inline-block;
    vertical-align: top;
}

.map-responsive {
    /*si width = 0, ça marche pas.*/
    width: 37vw;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#septo {
    padding: 0 20px;
}

span {
    color: #eb43a3;
    font-family: 'Courgette', cursive;
    font-style: italic;
}

#foot {
    background-color: #E577B5;
    color: #FFF;
}

#oot {
    text-align: right;
    padding: 10px;
}