@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
}

main {
    background-image: url("../img/background.png");
}

.couleur {
    background-color: #C55394;
}

a:hover {
    background-color: #EB43A3;
}

.titre {
    background-image: url('../img/rainbow.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: top 2rem center;
}

h5 {
    margin: 0;
    color: #C55394;
}

.courge {
    font-family: 'Courgette', cursive;
}

h6 {
    color: #EB43A3;
}

footer {
    background-color: #E577B5;
}